<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- 경로 /부터 시작하면 static 폴더 -->
    <link rel="stylesheet" href="/main.css">

</head>
<body>
<!-- div가 아니어도 그냥 아무 html 태그 써도 됌 -->
<!-- nav.html 파일의 navbar 이름의 UI로 덮어써줌 -->
<div th:replace="~{nav.html::navbar}"></div>

<div class="card" th:each="i : ${items}"> <!-- th:each="작명 : ${변수명}" -->
    <img src="https://placehold.co/300">
    <div>
        <!--이렇게하면 text의 값이 바지 대신 들어간다.-->
        <h4 th:text="${i.title}"></h4>
        <a th:href="@{'/detail/' + ${i.id}}">링크</a>
        <a th:href="@{'/edit/' + ${i.id}}">edit️</a> <!-- Thymeleaf에서 상대 경로는 @{} 써야함 -->
        <p th:text="${i.price}"></p>
    </div>
</div>
</body>
</html>